*{
	margin: 0;
	padding: 0;
	font-family: 'Rajdhani', sans-serif;
}
.container{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.inicio{
	width: 100%;
	height: 100vh;
	display: flex;
	background-image: url(portada.jpg);
	background-size: cover;
}
.slider{
	width: 75%;
	height: 100%;
	min-height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,.4);
}
.off  h1:nth-child(1){
	font-size: 60px;
}
.off  h1{
	color: #fff;
}
.header{
	width: 25%;
	height: 100%;
	background: #0C5558 ; 
	text-align: center;
	color: #fff;
}
.header1{
	height: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
.header2{
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.redes{
	height: 10%;
	background: #C8082B;
	display: flex;
	justify-content: center;
	align-items: center;
}
.redes ul{
	display: flex;
}
.redes ul  li{
	list-style: none;
	font-size: 25px;
}
.redes ul  li a{
	text-decoration: none;
	color: #fff;
}

@media screen and (max-width: 900px) {
  .slider{
	width: 55%;
	}

	.header{
		width: 45%;
	}
}

@media screen and (max-width: 480px){
	.inicio{
	height: auto;
	display: block;
	min-width: 400px;
	overflow: hidden;
	}
	.off  h1:nth-child(1){
	font-size: 40px;
	}
	.slider{
	width: 100%;
	height: 70vh;
	
	}

	.header{
		width: 100%;
		height: 80vh;
	}
}